<div class="card">
  <div
    class="card-header"
    style="background-color: rgb(59, 59, 192);color: white"
  >
    Welcome
  </div>
  <div class="card-body">
    <div class="container">
      <img
        src="../../assets/img/img/istockphoto-940891868-612x612.jpg"
        class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}"
        alt="welcomeImage"
      />
    </div>
  </div>
  <div class="card-footer text-muted">
    Created By Harry &copy;2019
  </div>
</div>
