<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 style="margin:60px 60px 60px 60px">Welcome to {{ title }}!</h1>
  <!-- <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="> -->
</div>
<!-- <app-gadget></app-gadget>
<app-table></app-table>
<app-heart></app-heart>
<app-mf></app-mf>
<app-twitter></app-twitter>
<app-parent></app-parent>
<app-electronic></app-electronic>
<app-lorempixel></app-lorempixel> -->
<!-- <app-twitter></app-twitter> -->
<!-- <h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->
<!-- <app-dropdown>
  <ul class="dropdown-menu">-->
<!-- Dropdown menu links-->
<!--<li class="dropdown-item" href="#">Action</li>
    <li class="dropdown-item" href="#">Another action</li>
    <li class="dropdown-item" href="#">Something else here</li>
    <li class="dropdown-divider"></li>
    <li class="dropdown-item" href="#">Separated link</li>
  </ul>
</app-dropdown> -->
<!-- <br />
<br />
<br />
<app-dropdownDirective>
  <ul class="dropdown-menu" id="myDropdown"> -->
<!-- Dropdown menu links -->
<!-- <li class="dropdown-item" href="#">Action</li>
    <li class="dropdown-item" href="#">Another action</li>
    <li class="dropdown-item" href="#">Something else here</li>
    <li class="dropdown-divider"></li>
    <li class="dropdown-item" href="#">Separated link</li>
  </ul>
  <style>
    .dropdown-menu {
      float: inherit;
      position: relative;
    }
  </style>
</app-dropdownDirective> -->
<!-- <app-template></app-template><br />
<app-reactive></app-reactive> -->
<app-navbar></app-navbar>
<div class="container-fluid" style="margin-top: 40px">
  <router-outlet> </router-outlet>
</div>
